<div class="container">

    <div class="row" ng-if="errorMessage != null">
        <div class="alert alert-success">{{successMessage}}</div>
    </div>


    <div class="row">

        <!-- FORM for creating new game -->
        <div class="col-md-6">

            <h2 class="lead">New game</h2>
            <form name="createNewBoard" class="form-horizontal" novalidate ng-submit="createNewGame()">


                <div class="form-group">
                    <label for="piece" class="col-md-2 control-label">Play as:</label>
                    <div class="col-md-8">
                        <select required class="form-control" name="piece" id="piece"
                                ng-model="newGameData.piece">
                            <option ng-repeat="option in newGameOptions.availablePieces" value="{{option.name}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6" style="padding-bottom:50px">
                        <button type="submit" class="btn btn-md btn-primary" ng-disabled="createNewGame.$invalid">
                            <span class="glyphicon glyphicon-plus"></span> New Game </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
